<!DOCTYPE html>
<html ng-app="hamrSJ">
	<head>
	<title>Sawaal Jawaab</title>
        <link rel="stylesheet" type="text/css" href="thirdparty/css/bootstrap.min.css">
	<script type="text/javascript" src="thirdparty/src/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/recorderjs/recorder.js"></script>
	<script src="thirdparty/src/jquery.min.js"></script>
        <style>
            img{
                max-width: 100%;
                height: auto;
                width: auto\9; /* ie8 */
                }
            div {
            display: inline-block;
            white-space: nowrap;
            }
            .img1,.img2{
            width:50%;
            }
        </style>
	</head>

	<body onload="init()" ng-controller="SJController as sj">
	
                <div style='float: right;'>
                <img src=images/hamr-ismir-logo.png height="60" width="120">
                </div>
		<p style="font-size:20px">
			{{sj.appName}} - A machine improvisation system for vocals and tabla
		</p>
                <div style='float: right;'>
                <img src=images/CompMusicLogo.png height="80" width="80">
                </div>
		<p style="font-size:14px">
		Ajay Srinivasamurthy, Swapnil Gupta, Sankalp Gulati, Kaustuv Kanti Ganguli, <br> <b>Music Technology Group, UPF, Barcelona</b>
		</p>
		<br></br>
		<p style="font-size:13px">
		 During Hindustani music concerts, it is common to have a call-response improvisatory passages between musicians, called a <b>sawaal-jawaab</b> (literally, question-answer). This is such an improvisation system - with the call being the vocal recitation of tabla syllables (bols). The response is an improvisation of the call built using timing, rhythmic and timbral features from the call, exploiting the onomatopeioc nature of the tabla bols. Such an improvisation is done within the framework of a specific taal, the rhythmic framework of Hindustani music. 
		</p>
		<p style="font-size:13px">
		<b> Instructions </b>
		</p>
		<ol style="font-size:12px">
                <li> Use the tempo slider to set a tempo. Select the taal (metrical cycle) from the dropdown. </li>
		<li> The metronome audio clicks mark the vibhaag (sections) of the cycle. The sam (downbeat) has a different click. The sam is shown with the red dot, with the beats blinking in green.</li>
		<li>Click and hold down the record button, the system starts recording from the next sam to record your sawaal</li>
		<li>Release the record button and wait for the response. The response is also aligned with the sam and starts on the next cycle. </li>
		<li>Repeat as many times you want, improvise with the system!</li>
		</ol>
		<hr>
		<div ng-controller="TempoController as tempo">
			<label for="tempoControl">Choose Tempo:</label>
			<input type="range" id="tempoControl" min="150" max="250" value="180" onchange="onTempoChange()">
			<span id="tempoView"></span> <p id="tempoValDisp"> 180 beats(matras) per minute</p>
		</div>
                <br></br>
                <b><p > Select Taal: </p></b>
		<div>
		<select id="taal" onchange="onTaalChange()">
                    <option selected value="teen">Teental (16 beats)</option>
                    <option value="ek">Ektaal (12 beats) </option>
                    <option value="jhap">Jhaptaal (10 beats)</option>
                    <option value="rupak">Rupak taal (7 beats)</option>
                </select>
                </div>
                <br></br>
                <br></br>
                <hr>
                <b><p> Taal cue: </p></b>
                <div style="max-width: 900px" align="center">
                <div class="img1" style="height: auto; border:1px red solid">
                <img id="samaImage" src=./images/reddot.png>
                </div>
                <div class="img2" style="height: auto; border:1px green solid" >
                <img id="beatImage" src=./images/greendot.png >
                </div>
                <p>Sama&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beat</p>
                </div>
                
                <br></br>
                
                <div>
                <button onclick="startMetronome()">Start Metronome</button>
                <button onclick="stopMetronome()">Stop Metronome</button>
                <span> &nbsp; Vol: </span>
                <div>
			<input type="range" id="metVol" min="0" max="100" value="80" onchange="onMetVolChange()">
		</div>
		</div>	
		<br></br>
                <div ng-controller="RecordController as rec">
			<button id="recordButton" ng-mousedown="rec.startRecording()" ng-mouseup="rec.stopRecording()" ng-class="{'btn-danger': rec.isRecording(), btn: true}">
				<b>Click and hold to Record!</b>
			</button>
                <b><span id="recordingInfo" style="font-size:14px"> Ready to record ...</span></b>
		</div> 
                
		<br></br>
                <!--
                <button onclick="buildTheka()">Build Response</button>
                -->
                <button onclick="stopPlaying()">Stop Playing</button>
  		<button onclick="playThekaButton()">Play Response Again</button>
		<br> </br>
		<p>Additional description can be found at <a href="http://labrosa.ee.columbia.edu/hamr_ismir2015/proceedings/doku.php?id=sawaal-jawaab"> HAMR 2015 wiki</a>		
		<br>Code can be found <a href="https://bitbucket.org/swapnilgt/sawaaljawaab">here</a> </p>
		
		
		<!-- Loading the scripts -->
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="src/utils.js"></script>
		<script type="text/javascript" src="src/audioGenerate.js"></script>
	</body>

</html>